.settings-title{
    padding: 0 var(--horizontal-space);
   /* margin: 20px 0; */
    margin: 42px 0;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.main-screen-divider{
    padding: 0px;
    margin: 20px 0; 
    
    height: 1px;
    background-color: rgba(0,0,0,0.1);
}